# Sentry.io path
SENTRY_DSN=

# Yandex
YANDEX_TRACKING_ID=

# Adds urls, comma separated
ADS_URLS=

# VK application ID
VK_APP_ID=5315207

# Api endpoint url
# Static endpoint url
API_ENDPOINT_URL=https://wwnd.space/
STATIC_ENDPOINT_URL=https://static.wwnd.space/
EXT_API_SERVER=https://anilibria-api.animehaze.me/api/v1
# Discord RPC client ID
DISCORD_CLIENT_ID=1063178077976412270
