# Adds urls, comma separated
ADS_URLS=

# VK application ID
VK_APP_ID=5315207

# Api endpoint url
# Static endpoint url
API_ENDPOINT_URL=https://anilibriaqt.anilib.top/
STATIC_ENDPOINT_URL=https://anilibriaqt.anilib.top/
EXT_API_SERVER=https://anilibria-api.animehaze.me/api/v1
# Discord RPC client ID
DISCORD_CLIENT_ID=1063178077976412270
CACHE_URL=https://github.com/Viiprogrammer/LocalCacheChecker/archive/refs/heads/main.zip
CACHE_HASHES_URL=https://raw.githubusercontent.com/Viiprogrammer/LocalCacheChecker/refs/heads/release/modified_files_tracking.json
DEFAULT_V1_TV=wwnd.space
DISCORD_STATIC_DOMAIN=https://anilibria.tv
